In [ ]:
#Extraeremos los datos de yahoo finance del SP500 y sus sectores, haremos algunas
# transformaciones, y añadieremos algunas columnas que necesitaremos para mas adelante
#hacer un analisis con power BI.

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
tikers = ['^GSPC','XLE','XLB','XLI','XLY','XLP','XLV','XLF','XLK','XLC','XLU']

In [13]:
for i in tikers:
    sp = yf.download(i,start="1990-01-01",end='2022-01-01')
    sp.reset_index(inplace=True)
    
    #Calculamos el retorno diaria
    sp['Daily Return'] = sp['Close'].pct_change()

    # Calcular la media móvil de 100 y 300 dias
    sp['SMA_100'] = sp['Close'].rolling(window=100).mean()
    sp['SMA_300'] = sp['Close'].rolling(window=300).mean()

    # Calculamos el retorno diario  
    sp['cumulative_return'] = (1 + sp['Daily Return']).cumprod() - 1
    
    
    # Calcular el drawdown desde el último máximo
    sp["cummax"] = sp["Close"].cummax()
    sp["drawdown"] = ((sp["cummax"] - sp["Close"]) / sp["cummax"])*100

    
    sp.to_csv(f'{i}.csv')

[*********************100%***********************]  1 of 1 completed

In [14]:
sp

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,SMA_100,SMA_300,cumulative_return,cummax,drawdown
0,1990-01-02,353.399994,359.690002,351.980011,359.690002,359.690002,162070000,NaN,NaN,NaN,NaN,359.690002,0.000000
1,1990-01-03,359.690002,360.589996,357.890015,358.760010,358.760010,192330000,-0.002586,NaN,NaN,-0.002586,359.690002,0.258554
2,1990-01-04,358.760010,358.760010,352.890015,355.670013,355.670013,177000000,-0.008613,NaN,NaN,-0.011176,359.690002,1.117626
3,1990-01-05,355.670013,355.670013,351.350006,352.200012,352.200012,158530000,-0.009756,NaN,NaN,-0.020823,359.690002,2.082346
4,1990-01-08,352.200012,354.239990,350.540009,353.790009,353.790009,140110000,0.004514,NaN,NaN,-0.016403,359.690002,1.640300
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8059,2021-12-27,4733.990234,4791.490234,4733.990234,4791.189941,4791.189941,2770290000,0.013839,4535.413389,4146.375865,12.320331,4791.189941,0.000000
8060,2021-12-28,4795.490234,4807.020020,4780.040039,4786.350098,4786.350098,2707920000,-0.001010,4538.985889,4150.907299,12.306876,4791.189941,0.101015
8061,2021-12-29,4788.640137,4804.060059,4778.080078,4793.060059,4793.060059,2963310000,0.001402,4542.551289,4155.407099,12.325530,4793.060059,0.000000
8062,2021-12-30,4794.229980,4808.930176,4775.330078,4778.729980,4778.729980,3124950000,-0.002990,4546.015088,4159.884332,12.285690,4793.060059,0.298976
8063,2021-12-31,4775.209961,4786.830078,4765.750000,4766.180176,4766.180176,2677820000,-0.002626,4549.309390,4164.259966,12.250800,4793.060059,0.560808